.error_message {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40;
  color: #010101;
}

.list_style {
  padding: 109px;
  display: flex;
  gap: 49px;
  flex-wrap: wrap;
}
